<mat-card>
  <mat-card-content>    
  <mat-card-title>Баннеры</mat-card-title>
    <button mat-raised-button color="link" (click)="toCreate()">Создать</button>
    <mat-table [dataSource]="banners">
      <!-- User name Definition -->
      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('id')" > ID <i *ngIf="sort.id" class="fas fa-angle-up" ></i><i *ngIf="!sort.id" class="fas fa-angle-down"></i></mat-header-cell>
        <mat-cell *cdkCellDef="let item"> {{item.id}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container cdkColumnDef="image">
        <mat-header-cell *cdkHeaderCellDef> Изображение </mat-header-cell>
        <mat-cell *cdkCellDef="let item"> <img src="{{item.smallImageLink}}"> </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container cdkColumnDef="link">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('link')"> Ссылка <i *ngIf="sort.link" class="fas fa-angle-up" ></i><i *ngIf="!sort.link" class="fas fa-angle-down"></i> </mat-header-cell>
        <mat-cell *cdkCellDef="let item"> {{item.link}} </mat-cell>
      </ng-container>

      <!--<ng-container cdkColumnDef="alt">-->
        <!--<mat-header-cell *cdkHeaderCellDef> Alt </mat-header-cell>-->
        <!--<mat-cell *cdkCellDef="let item"> {{item.alt}} </mat-cell>-->
      <!--</ng-container>-->

      <!-- Title Definition -->
      <!--<ng-container cdkColumnDef="created_at">-->
        <!--<mat-header-cell *cdkHeaderCellDef (click)="sortByValue('created_at')"> Дата создания <i *ngIf="sort.created_at" class="fas fa-angle-up" ></i><i *ngIf="!sort.created_at" class="fas fa-angle-down"></i> </mat-header-cell>-->
        <!--<mat-cell *cdkCellDef="let item"> {{item.created_at}} </mat-cell>-->
      <!--</ng-container>-->


      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let item" style="display: flex; flex-direction: column;">
          <button mat-button color="primary" (click)="toUpdate(item.id)">
            Редактировать
          </button>
          <button mat-button color="warn" (click)="deleteNews(item.id)">
            Удалить
          </button>
        </mat-cell>
      </ng-container>


      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let item; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [(length)]="item_length" [(pageIndex)]="current_page" [(pageSize)]="item_count" [(pageSizeOptions)]="pageSizeOptions" (page)="pageEvent = pagination($event)"></mat-paginator>
    <!--<mat-paginator [pageSizeOptions]="[2,4,20]" showFirstLastButtons></mat-paginator>-->
  </mat-card-content>
</mat-card>
