<mat-card>
    <mat-card-content>
        <mat-card-title>Добро пожаловать в административную панель #2</mat-card-title>
        "angular": "^1.7.0" <br />
        "@angular/material": "^6.1.0" <br />
    </mat-card-content>
</mat-card>

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
<!--                <div fxLayout="row" fxLayoutWrap="wrap">-->
<!--                    &lt;!&ndash; column &ndash;&gt;-->
<!--                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">-->
<!--                        Добро пожаловать в административную панель2-->
<!--                    </div>-->
<!--                </div>-->

                <h1>Заказы</h1>
                <!--<div style="display: block">-->
                    <!--<canvas mdbChart-->

                            <!--(chartHover)="chartHovered($event)"-->
                            <!--(chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->


              <br/><!-- Just so that JSFiddle's Result label doesn't overlap the Chart -->




            </mat-card-content>


        </mat-card>
    </div>
    <!-- column -->


</div>


