/* You can add global styles to this file, and also import other style files */

.fa-angle-down{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.fa-angle-up{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}