<mat-card>
  <mat-card-content>    
  <mat-card-title>Категории</mat-card-title>
    <button mat-raised-button color="link" (click)="toCreate()">Создать</button>

    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)" style="display: inline-flex;
    align-items: center;
    float: right;">

      <mat-form-field style="margin-right: 1rem;">
        <input matInput type="text" placeholder="Поиск"  name="searcher"  [(ngModel)]="searcher">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Искать</button>
    </form>

    <mat-table [dataSource]="categories" style="margin-top: 3rem;">
      <!-- User name Definition -->
      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('id')" > ID <i *ngIf="sort.id" class="fas fa-angle-up" ></i><i *ngIf="!sort.id" class="fas fa-angle-down"></i></mat-header-cell>
        <mat-cell *cdkCellDef="let category"> {{category.id}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('title')"> Название <i *ngIf="sort.title" class="fas fa-angle-up" ></i><i *ngIf="!sort.title" class="fas fa-angle-down"></i> </mat-header-cell>
        <mat-cell *cdkCellDef="let category"> {{category.title}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container cdkColumnDef="slug">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('slug')"> ЧПУ <i *ngIf="sort.slug" class="fas fa-angle-up" ></i><i *ngIf="!sort.slug" class="fas fa-angle-down"></i> </mat-header-cell>
        <mat-cell *cdkCellDef="let category"> {{category.slug}} </mat-cell>
      </ng-container>


      <!-- Age Definition -->
      <ng-container cdkColumnDef="is_active">
        <mat-header-cell *cdkHeaderCellDef (click)="sortByValue('is_active')"> Активна <i *ngIf="sort.is_active" class="fas fa-angle-up" ></i><i *ngIf="!sort.is_active" class="fas fa-angle-down"></i> </mat-header-cell>
        <mat-cell *cdkCellDef="let category"> {{category.active}} </mat-cell>
      </ng-container>

      <!-- Age Definition -->
      <!--<ng-container cdkColumnDef="description">-->
        <!--<mat-header-cell *cdkHeaderCellDef (click)="sortByValue('description')"> Описание <i *ngIf="sort.description" class="fas fa-angle-up" ></i><i *ngIf="!sort.description" class="fas fa-angle-down"></i> </mat-header-cell>-->
        <!--<mat-cell *cdkCellDef="let category"> {{category.description}} </mat-cell>-->
      <!--</ng-container>-->

      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let category" style="display: flex; flex-direction: column;">
          <button mat-button color="primary" (click)="toUpdate(category.slug)">
            Редактировать
          </button>
          <!--<button mat-button color="warn" (click)="deleteUser(category.slug)">-->
            <!--Удалить-->
          <!--</button>-->
        </mat-cell>
      </ng-container>


      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let user; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [(length)]="item_length" [(pageIndex)]="current_page" [(pageSize)]="item_count" [(pageSizeOptions)]="pageSizeOptions" (page)="pageEvent = pagination($event)"></mat-paginator>
    <!--<mat-paginator [pageSizeOptions]="[2,4,20]" showFirstLastButtons></mat-paginator>-->
  </mat-card-content>
</mat-card>
